{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    },
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": "warn"
    }
}