name: cron

on:
  schedule:
    # For more: https://crontab.guru
    - cron: '0 0 1 * *'

jobs:
  cron:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{secrets.NPM_TOKEN}}

    steps:
      - name: Set-up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: |
          echo "$(yarn global bin)" >> $GITHUB_PATH
          yarn global add npm-check-updates semver

      - name: Checkout the code
        uses: actions/checkout@v2
        with:
          token: ${{secrets.PERSONAL_ACCESS_TOKEN}}

      - name: Set Git user
        run: |
          git config --global user.name "Vinícius Egidio"
          git config --global user.email "me@vinicius.io"

      - name: Upgrade the packages
        run: |
          export TAG=$(semver -i $(node -p "require('./package').version"))
          echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > .npmrc

          if ! ncu -u -e 2; then
            yarn version --no-commit-hooks --no-git-tag-version --new-version $TAG
            git add package.json
            git commit -m "⬆️ Upgraded NPM packages"
            git tag $TAG
            git push --follow-tags
          fi